.bg-custom {
  background-image: url(https://img.rtve.es/imagenes/por-estrellas-solo-brillan-noche/1682336188585.jpg);

}

.logo {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.planets {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.characters {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.starships {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.card {

  border-radius: 1rem;
  border: 1px solid transparent;

  backdrop-filter: blur(1rem);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

}

.bgc {
  background-color: rgba(225, 225, 225, 0.1);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(6, 6, 6);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid white;
}

/* Colores de barra internas */
div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background: rgb(6, 6, 6);
  border-radius: 20px;
}

div::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid white;
}